# Mevcut .env dosyanıza ekleyin
RAG_KNOWLEDGE_BASE=knowledge_base
RAG_INDEX_DIR=rag_index
RAG_EMBED_MODEL=bge-m3
RAG_LLM=mistral
RAG_ROUTER_LLM=mistral
RAG_CHUNK_SIZE=900
RAG_CHUNK_OVERLAP=150
RAG_VECTOR_TOP_K=8
RAG_BM25_TOP_K=8
RAG_FINAL_TOP_K=5
RAG_DENSE_WEIGHT=0.60
RAG_SPARSE_WEIGHT=0.40
